.grid { 
display: grid;
grid-template-columns: repeat(10,1fr);
gap: 15px;
width: 100%;
padding: 20%;
box-sizing: border-box;
}

.cardHorizontal1 {
  grid-column: 1 / 6;
  grid-row: 1;
}

.cardHorizontal2 {

}