*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 22px;
  line-height: 2;
  background-color: aqua;
  color: brown;
}

.contenedor{
  max-width: 100%;
  margin: 100px auto;
  outline: 6px solid yellow;
  display: grid;
  grid-template-columns:  repeat(auto-fit,minmax(300px,1fr));
  

}

.parte{
  background-color: chartreuse;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 22px;
  border: bisque 2px solid;
text-align: center;
border-radius: 8px;
font-size: 2em;
cursor: pointer;
}
.parte:hover{
  color: rgb(8, 5, 0);
}

.parte-1{
background-color: aqua;
grid-column-start: 1;
grid-column-end: 4;
}
.parte-2{
  background-color: rgb(65, 182, 29);
  grid-column-start: 4;
  grid-column-end: 7;
}
.parte-3{
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 2;
}
.parte-4{
  background-color: blueviolet;
  grid-column-start: 2;
  grid-column-end: 3;
}
.parte-5{
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: span 2 ;
}
.parte-6{
  background-color: rgb(182, 118, 22);
}
.parte-7{
  background-color: brown;
  grid-column-start: 1;
  grid-column-end: 3;
}
.parte-8{
  background-color: rgb(17, 131, 51);
}
.parte-9{
  background-color: rgb(77, 17, 32);
  grid-column-start: 1;
  grid-column-end: 2;
}
.parte-10{
  background-color: rgb(92, 91, 19);
  grid-column-start: 2;
  grid-column-end: 3;
}
.parte-11{
  grid-column-start: 3;
  grid-column-end: 7;
}